body.dark-mode{
    background: rgb(17, 18, 17) !important;
}
body.dark-mode * {
    color: whitesmoke !important;
    
}
body.dark-mode .code-container {
    background-color: rgb(179, 174, 174);
}
body.dark-mode .code-container *{
    color: black  !important;
}

body.dark-mode #darkModeBtn{
    color: black !important;
}
#darkModeBtn{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 100px;
    border-radius: 5px;

}