/* main.css */
/*@import url('components/dropDowns.css'); */
/* @import url('components/sideBar.css'); */
/* @import url('responsive.css'); */
/* componets */
 @import url('components/imgsVids.css');
/* ui */
/* @import url('components/drag-hide-sidebar.css'); */
/* utilities */
@import url('utilities/borders.css');
@import url('utilities/colors.css');
@import url('utilities/display.css');
@import url('utilities/layout.css');
@import url('utilities/sizing.css');
@import url('utilities/position.css');
@import url('utilities/text.css');
@import url('utilities/spacing.css');
@import url('utilities/zindex.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}