@media screen and (max-width:600px){
    :root {
        --sidebar-width: 20% !important;
    }
    .main-content > header {
        font-size: 50%;
    }
    .side-bar-topics li {
        font-size: 90%;
        margin-top: 100%;
    }
    .side-bar-ul-container>.side-bar-topics {
        margin-top: 60% !important;
    }
    #sideBarBtn {
        bottom: 5% !important;
        /* font-size: 100% !important; */
    }
    .code-container {
        max-width: 95%!important;
    }
    

}
@media screen and (max-width:520px){
    .main-content>.main-landing-page {
        margin-left: 0;
    }
        .side-bar-topics li {
            font-size: 88%;
            margin-top: 90%;
            margin-bottom: 10%;

        }
}