@media screen and (max-width:600px){
    :root {
        --sidebar-width: 20% !important;
    }
    .main-content > header {
        font-size: 50%;
    }
    .side-bar-topics li {
        font-size: 90%;
    }
    .side-bar-ul-container>.side-bar-topics {
        margin-top: 80% !important;
    }
}
@media screen and (max-width:720px){
    #sideBarBtn {
        bottom: 5% !important;
    }
}