@media screen and (min-width:1770px) {

    .page-wrapper>.side-bar>.side-bar-ul-container {
        margin-top: 40%;
    }

    .side-bar-ul-container ul li a {
        font-size: 2rem;
    }
}

@media screen and (min-width:1500px) {

    .page-wrapper>.side-bar>.side-bar-ul-container {
        margin-top: 5%;
        margin-bottom: auto;
    }

    .page-wrapper>.side-bar>.side-bar-ul-container>ul {}

    .page-wrapper>.side-bar>.side-bar-ul-container>ul>li>ul {
        line-height: 20px;

    }
}

@media screen and (min-width: 1250px) {
    .page-wrapper>.side-bar>.side-bar-ul-container {}
}

@media screen and (min-width: 1000px) {
    :root {
        --width-sidebar: 14vw;
        --width-sidebar-collapsed: 10vw;
    }
}

@media screen and (min-width:800px) {
    .page-wrapper>.side-bar>.side-bar-ul-container {
        margin-top: 50%;
    }
}

@media screen and (max-width:800px) {
    .page-wrapper>.side-bar>.side-bar-ul-container {
        margin-top: 90%;
    }
}

@media screen and (max-width:520px) {
    .page-wrapper>.side-bar>.side-bar-ul-container {}

    .side-bar-ul-container,
    .side-bar-ul-container ul {
        margin-left: 0;
    }

    .side-bar-ul-container ul li a {
        /* font-size: 2rem; */
        margin-left: 0;
    }

    h1 {
        font-size: 50%;
    }

    :root {
        --width-sidebar: 22vw;
        --width-sidebar-collapsed: 20vw;
    }

    #sideBarBtn {
        bottom: 9%;
    }
}











/* IDON KNOW FOMR SIDEBAR_ */
/* @media screen and (min-width:1770px) {

    .page-wrapper>.side-bar>.side-bar-ul-container {
        margin-top: 40%;
    }

    .side-bar-ul-container ul li a {
        font-size: 2rem;
    }
}

@media screen and (min-width:1500px) {

    .page-wrapper>.side-bar>.side-bar-ul-container {
        margin-top: 5%;
        margin-bottom: auto;
    }

    .page-wrapper>.side-bar>.side-bar-ul-container>ul {}

    .page-wrapper>.side-bar>.side-bar-ul-container>ul>li>ul {
        line-height: 20px;

    }
}

@media screen and (min-width: 1250px) {
    .page-wrapper>.side-bar>.side-bar-ul-container {}
}

@media screen and (min-width: 1000px) {
    :root {
        --width-sidebar: 14vw;
        --width-sidebar-collapsed: 10vw;
    }
}

@media screen and (min-width:800px) {
    .page-wrapper>.side-bar>.side-bar-ul-container {
        margin-top: 50%;
    }
}

@media screen and (max-width:800px) {
    .page-wrapper>.side-bar>.side-bar-ul-container {
        margin-top: 90%;
    }
}

@media screen and (max-width:520px) {
    .page-wrapper>.side-bar>.side-bar-ul-container {}

    .side-bar-ul-container,
    .side-bar-ul-container ul {
        margin-left: 0;
    }

    .side-bar-ul-container ul li a {
        margin-left: 0;
    }

    h1 {
        font-size: 50%;
    }

    :root {
        --width-sidebar: 22vw;
        --width-sidebar-collapsed: 20vw;
    }

    #sideBarBtn {
        bottom: 9%;
    }
} */