/* collapseCode.css */
.collapse {
    height: 120px  !important;
}


.popup-btn {
    position: fixed;
    /* bottom: 100%; */
    top: 0px;
    right: -10px;
    width: 50px;
    border-radius: 10px;
    border: 2px solid blue;
}