/* collapseCode.css */
.collapse {
    height: 120px  !important;
}


.popup-btn {
    position: sticky;
    left: 100%;
    /* bottom: 101%; */
    top: 0%;
    width: 50px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 2px 2px green;
}