/* collapseCode.css */
.collapse {
    height: 120px  !important;
}


.popup-btn {
    position: absolute;
    /* bottom: 100%; */
    top: -5px;
    right: 0;
    width: 50px;
    border-radius: 10px;
    border: 2px solid blue;
}