
.hide {
    display: none !important;
}

.code-cmd.hide {
    display: none !important;
}

.drop-down,.drop-code-cmd {
    text-decoration: none;
    color: black;
}

.code-cmdcollapsed {
    height: 25% !important;
    /* border: 2px solid orange; */
}