/* toggle-side-bar.css */
:root {
    --toggle-time: all 350ms ease;;
}
.page-wrapper.collapsed > .side-bar{
    width: 0;
    opacity: 0;
    transform: translate(-100%,0);
    transition: var(--toggle-time)
    /* transform: translate(-100%,-100%); */
}
.page-wrapper.collapsed .main-content {
    width: 100%;
    transition: all var(--toggle-time) ease;
}
.page-wrapper.collapsed .main-landing-page {
    margin-left: 5%;
    transition: all var(--toggle-time) ease;
}