.page-wrapper>#mainContent {
        
}
.page-wrapper>#mainContent header{
    border-bottom: 1px solid blue;

}
.page-wrapper>.side-bar {
    border-right: 1px solid black;
}
.page-wrapper>.side-bar>header{
    border: 1px solid blue ;
}

.code-container {
    border: 1px solid black;
    border-radius: 4px;
    
}