:root {
    --clr-txt-sidebar: black
}
body{
    /* background-color: rgba(79, 91, 90, 0.327); */
    background-color: rgba(79, 91, 90, 0.327);
}
.code-container{
    background-color: whitesmoke;
}
.side-bar a,
.side-bar a:visited {
    color: var(--clr-txt-sidebar);
}