.b {color: blue;}
.r {color: red;}
.m {color: magenta;}
:root {
    --clr-txt-sidebar: black
}
body{
    /* background-color: rgba(79, 91, 90, 0.327); */
    background-color: rgba(45, 47, 46, 0.422);
}
.code-container{
    background-color: whitesmoke;
}
.side-bar a,
.side-bar a:visited {
    color: var(--clr-txt-sidebar);
}
#mainContent a,
#mainContent a:visited {
    color: rgb(50, 49, 49) ;
    box-shadow: -8px 8px -8px 8px rgb(50, 49, 49) !important;
    /* text-shadow: 1px 1px 1px whitesmoke; */
}