.side-bar a:active,
.side-bar a:focus {
    background-color: lightblue;
    font-weight: 999;
    margin-left: 3%;
    transition: all 200ms;
    color: black;
    text-shadow: 1px 1px 1px whitesmoke;
    border: 1px solid black !important;
    border: none;
    font-style: bold;
}

.side-bar-ul-container>ul>li>a>sub {
    transform: translate(0, -20%);
}

a:visited {
    color: black;
}
a:focus {
    outline: none;
    background-color: white;
    padding: 0 1%;
    border: 2px solid whitesmoke;
    border-bottom: 1px solid blue;
}

.main-content:focus {
    /* background-color: rgba(0,0,0,0) !important; */
}
body.dark-mode .side-bar *:active,
body.dark-mode .side-bar *:focus {
    color: black !important;
}