.side-bar a:active,
.side-bar a:focus {
    background-color: lightblue;
    font-weight: 999;
    margin-left: 3%;
    transition: all 200ms;
    color: black;
    outline: none;
    
    border: 1px solid black !important;
    border: none;
    font-style: bold;
    padding: 3% 2% !important;
    /* padding: 12% 1% !important; */
}

.side-bar-ul-container>ul>li>a>sub {
    transform: translate(0, -20%);
}


#mainContent a:focus {
    /* outline: none; */
    /* background-color: white; */
    
    /* border: 2px solid whitesmoke; */
    /* border-bottom: 1px solid blue; */
}
.main-content:focus {
    /* background-color: rgba(0,0,0,0) !important; */
}
#mainContent *:focus *,
#mainContent *:focus {
    /* color: black !important; */
    box-shadow:  none;
    text-shadow: none;

}
/* body.dark-mode #mainContent .page-container *:focus */
body.dark-mode #mainContent .page-container #mainTopicsContainer *:focus 
 {
    color: var(--bg-primary-db) !important;
    /* border: 1px solid var(--font-primary-db) !important; */
    background-color: var(--font-primary-db) !important;
    /* box-shadow: 0 -12px 12px rgb(50, 49, 49) !important; */
    /* box-shadow:none !important; */
    outline: none;
}

