/* layout.css */
body{
    overflow: hidden;
    overflow-x: hidden;
}
.side-bar{
    overflow-y: hide;
}
.side-bar>header {
    display: flex;
    flex-direction: column;
}
.code-container{
    overflow: hidden;
}
.code-container>* {
    overflow-x: scroll;
}
.page-wrapper {
    display: flex;
    overflow: hidden;
}
.main-content{
    overflow-x: hidden;
    overflow-y: scroll;
}
.main-content header{
    display: flex;
}
.main-content img{
    display: none;
}
.side-bar-topics .drop-down,
.topic .drop-down{
    display: inline-block;
    white-space: none;
    text-wrap: none;
}