/* layout.css */
.page-wrapper {
    display: flex;
}
.page-wrapper>.side-bar {
    flex-basis: 10%;
    /* flex-shrink: 0; */
}
.page-wrapper>.main-content {
    /* flex-grow: 1; */
    /* overflow-y: auto; */
}
.main-content>nav,
.main-content>header {
    /* display: flex; */
    /* justify-content: flex-end; */
}


