/* layout.css */
.side-bar>header {
    display: flex;
    flex-direction: column;
}
.code-container{
    overflow: hidden;
}
.code-container>* {
    overflow-x: scroll;
}
.page-wrapper {
    display: flex;
    overflow: hidden;
}
.main-content{
    overflow-y: scroll;
}
.main-content header{
    display: flex;
}
.main-content img{
    display: none;
}