/* layout.css */
.page-wrapper {
    display: flex;
    overflow: hidden;
}
.main-content{
    overflow-y: scroll;
}

.code-container{
    overflow: hidden;
}
.code-container>* {
    overflow-x: scroll;
}