/* position.css */
.page-wrapper>.side-bar {
    /* position: sticky; */
    top: 0;
    left: 0       
}
.main-content {
    /* position: relative; */
}
.snip{
    position: relative;
}
.popup-btn {
    position: absolute;
    /* left: 100%; */
    right: 2%;
    top: -1%;
}
#sideBarBtn,
#darkModeBtn{
    position: fixed;
}
#sideBarBtn{
    left: 3%;
    bottom: 5%;
}
#darkModeBtn{
    right: 1.5%;
    bottom: 5%;
}