/* position.css */
body {
    /* position: relative; */
}
.page-wrapper>.side-bar {
    position: sticky;
    top: 0;
    left: 0       
}
.main-content {
    /* position: relative; */
}
.code-container{
    position: relative;
}
