/* position.css */
body {
    position: relative;
}
.page-wrapper>.side-bar {
    position: sticky;
    top: 0;
    left: 0       
}
.main-content {
    position: relative;
}
.code-container{
    position: relative;
}

.popup-btn {
    position: absolute;
    /* bottom: 100%; */
    top: -5px;
    right: 0;
    width: 50px;
    border-radius: 10px;
    border: 2px solid blue;
}