/* sizing.css */
:root {
    --sidebar-width: 15%;
    --main-content-width: calc(100% - var(--sidebar-width))
}
.page-wrapper {
    height: 100vh;
    .side-bar {
        width: var(--sidebar-width);
        transition: all 130ms ease;
    }
}


.topic header>.topic-title{
    width: 100% !important;
}
.main-content {
    /* Without This width: below, main-content expands full width window when .page-wrapper.collapsed  */
    width: calc(100% - var(--sidebar-width));
    .main-landing-page {
        height: 100vh;
    }
    .topic header>.topic-title,
    .snip header h4 {
        text-wrap: none;
        width: 100%;
        display: inline-block;
        /* border: 2px solid blue; */
    }
}


.code-cmd {
    /* height: 50% !important; */
    /* border: 2px solid green; */
}

.code-container {
    /* min-height: 100px; */
    /* max-width: 80%; */
    height: 100%;
    max-height: 65vh;
    width: fit-content;
    height: fit-content;
}

.code-container>* {
    /* height: 100%; */
    width: 100%;
    line-height: .92;
}
.snip header h4 {
    width: 90% !important;
}