/* sizing.css */
:root {
    --sidebar-width: 15%;
    --main-content-width: calc(1000% - var(--sidebar-width))
}
.page-wrapper {
    /* width: 100%; */
    /* height: 100vh; */
}
.page-wrapper > .side-bar{
}
.main-content{
    width: calc(100% - var(--sidebar-width));

}
.code-container {
    width: 90%;
    /* overflow-x: scroll; */
}
.code-container > *{
    width: 100%;
    font-size: 80%;
}