/* sizing.css */
:root {
    --sidebar-width: 15%;
    --main-content-width: calc(100% - var(--sidebar-width))
}
.page-wrapper {
    height: 100vh;
}
.page-wrapper > .side-bar{
    width: var(--sidebar-width);
    transition: all 130ms ease;
}
.page-wrapper > .main-content{
    /* Without This width: below, main-content expands full width window when .page-wrapper.collapsed  */
    width: calc(100% - var(--sidebar-width));

}
.topic header>.topic-title{
    width: 100% !important;
    
}
.snip header h4{
    width: 90% !important;
    
}
.topic header>.topic-title,
.snip header h4{
    text-wrap: none;
    display: inline-block;
    /* border: 2px solid blue; */
}
.code-container {
    width: fit-content;
    /* min-width: 50%; */
    min-height: 100px;
    max-width: 80%;
    /* overflow-x: scroll; */
}
.code-container>* {
    width: 100%;
    height: 100%;
    font-size: 70%;
    line-height: .92;
}