/* sizing.css */
:root {
    --sidebar-width: 15%;
    --main-content-width: calc(100% - var(--sidebar-width))
}
.page-wrapper {
    height: 100vh;
}
.page-wrapper > .side-bar{
    width: var(--sidebar-width);
    transition: all 130ms ease;
}
.page-wrapper > .main-content{
    /* Without This width: below, main-content expands full width window when .page-wrapper.collapsed  */
    width: calc(100% - var(--sidebar-width));

}
.code-container {
    width: 90%;
    /* overflow-x: scroll; */
}
