.page-wrapper>.side-bar>header {
    /* margin-bottom: 5%; */
    /* padding-bottom: 5%; */
}

.page-wrapper .side-bar{
    header {
        margin-bottom: 10%;
    }
    header>.page-links-container>a {
        margin-left: 2.5%;
    }
    .side-bar-ul-container>.side-bar-topics {
        /* margin-top: 20%; */
        /* margin-left: 5%; */
        gap: 2rem;
    }
    
    .side-bar-topics  a {
        display: inline-block;
        padding: 1% 4%;
        border-radius: 4px;
    }
    /* List indentation*/
    .side-bar-topics li {
        margin-top: 8%;
    }
    .side-bar-topics > li > ul {
        margin-left: 12%;
    }
    .side-bar-topics > li > ul > li > ul{
        margin-left: 16%;
        padding: 0 5%;

    }
    .side-bar-topics > li > ul > li > ul> li{
        list-style-type: num;

    }



}
.page-wrapper>.main-content nav {margin-left: 2.5%;}
.main-content>.main-landing-page {
}
#mainTopicsContainer{
        padding: 0 2%;
}
.topics-container{

}
/* Topics */
.topic {
    header>h3 {
        padding-top: 2%;
        margin-left: 0;
    }
    .topic-snips > .snip > h4 {
        margin: 1%;
        padding-left: 1%;
        /* padding: 0 1%; */
    }
    .code-container {
        /* margin-top:  1%; */
        /* margin-left: 1%; */
    }
    .code-container * {
        /* padding-top:  1.5%; */
        /* padding-left: 1%; */
    }
    .snip .drop-down{
        margin-left: 5%;
        /* width: 100%; */
        display: inline-block;
    }
}

.topic {
    .topic-snips {
        
    }

    .topic-snips>.snip {
        

    }

    .topic-snips>.snip.grid-col-3 {
        
    }
}
