.side-bar-ul-container {
    padding:25% 0;
}
.side-bar-ul-container>.side-bar-topics {
    margin-left: 5%;
    margin-top: 20%;
    gap: 2rem;
}
.side-bar-topics li {
    margin-bottom: 10%;
}
.side-bar-topics ul li {
    margin-left: 12%;
    margin-top: 6%;
}
.page-wrapper>#mainContent header {
    margin: 0 2%;
    
}
.main-content>header h2 {
    margin-top: 1%;
    margin-left: 2%;
}
.side-bar>header {
    margin-bottom: 10%;
}
.code-container > *{
    width: 100%;
    font-size: 80%;
}