body {
    font-weight: 999;
}
.side-bar a {
    text-decoration: none;
}
.side-bar a:visited {
    
}
.main-content > header{
    
}

.code-container>* {
    font-size: 80%;
    font-family: monospace;
}