:root {
    --width-sidebar-collapsed: 14vw;
}
.page-wrapper>.main-content {
    width: calc(100% - var(--width-sidebar))
}

.page-wrapper>.side-bar.collapsed {
    width: var(--width-sidebar-collapsed);
}