/* sideBarBtn.css */
#sideBarBtn {
    position: absolute;
    display: block;
    color: black;
    font-size: 3rem;
    bottom: 4%;
    left: 2%;
    z-index: 2
}

.side-bar.hidden #sideBarBtn {
    position: absolute;
    top: 0;
    right: 50%;
    font-size: 100rem;
}