:root {
    /* --width-sidebar: 17vw; */
}
.page-wrapper>.main-content {
    width: calc(100% - var(--width-sidebar))
}
/* .page-wrapper>.side-bar>header {
    width: 100%;
}
.page-wrapper>.side-bar {
    width: var(--width-sidebar);
    height: 100vh;
}
.page-wrapper>.side-bar>.side-bar-ul-container {
    width: 100%;
} */